@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

$open-color: #202B49;
$font-Comm: 'Commissioner';
$font-Ark: 'Arkhip';
$color-grey: #A4A4A4;

.page {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  max-width: 1148px;
  margin: 0 auto;
  position: relative;

  &__logo {
    width: 51px;
    height: 59px;
    position: absolute;
    top: 11px;
    background-image: url(./images/logo.svg);
    z-index: 0;
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    margin: 7px 0 0 auto;
    max-width: 993px;
    padding-bottom: 8px;
    border-bottom: 1px solid #EAEAEA;
    position: relative;
    z-index: 1;
  }

  &__menu {
    max-width: 993px;
    margin: 0 0 0 auto;
    position: relative;
    z-index: 1;
  }

  &__link-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
  }

  &__link-list li {
    margin-right: 15px;
  }

  &__link {
    font-family: $font-Comm;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $open-color;
  }
}



.user {
  display: flex;
  align-items: center;

  &__avatar {
    width: 30px;
    height: 30px;
    background-color: $open-color;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  &__image {
    width: 18px;
    height: 18px;
  }

  &__name {
    padding: 0;
    margin: 0;
    font-family: $font-Comm;
    color: $open-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  &__notify {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 16px 0 12px;
    box-shadow: 0px 2px 10px rgba(123, 123, 123, 0.25);
    position: relative;
    z-index: 0;
    background-image: url(./images/notify.png);
    background-size: 12.94px 18.41px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__county-notify {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    font-family: $font-Comm;
    width: 21px;
    height: 21px;
    position: absolute;
    top: -10px;
    right: -7px;
    box-shadow: 0px 2px 2px rgba(123, 123, 123, 0.25);
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.link {
  text-decoration: none;
}

.bread-crumb {
  background-color: #F5F5F5;
  margin: 24px 0 0 0;

&__list {
  max-width: 1148px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  & li {
    display: inline;
    margin-right: 8px;
    }
  }

  & li + li::before {
    color: #676767;
    content: "\003E";
    margin-right: 5.5px;
    font-size: 13px;
    line-height: 21px;
  }

  &__link {
    font-family: $font-Comm;
    color: #676767;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
  }
}

.adventures {
  max-width: 1148px;
  margin: 44px auto 0 auto;
  position: relative;

  &__title {
    font-family:  $font-Ark;
    color: $open-color;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    margin: 0 0 11px 0;
    padding: 0;
  }

  &__count {
    margin: 9px 0 0 0;
    font-family: $font-Comm;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: $color-grey;
  }

  &__participant {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;

    & li {
      display: inline-block;
    }
  }

  &__avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}


.span-acent {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #5E5E5E;
}

.date {
  display: flex;
  align-items: center;

  &__image {
    width: 13px;
    height: 13px;
    margin: 0 4px 0 0;
  }

  &__number {
    padding: 0;
    margin: 0;
    font-family: $font-Comm;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: $color-grey;
  }
}

.card {
  max-width: 1140px;
  margin: 26px 0 0 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 0 20px 22px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 305px auto;
  gap: 30px;

  &__image {
    width: 305px;
    height: 278px;
    border-radius: 5px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    padding: 0;
    margin: 0 0 0 0;
    font-family: $font-Comm;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $open-color;
  }

  &__rout-list {
    padding: 0;
    margin: 15px 0 23px 0;
    font-family: $font-Comm;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: $color-grey;
  }

  &__rout-list li {
    list-style: none;
    display: inline-block;
    background-color: #F5F5F5;
    border-radius: 150px;
    margin-right: 8px;
  }

  &__rout-list li::after {
    content: '\2014';
    position: relative;
    left: 8px;
    background-color: transparent;
  }

  &__rout-list li:last-of-type::after {
    content: '';
  }

  &__info {
    margin: 0 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-content: center;
    gap: 0 30px;
  }

  &__date {
    display: inline-flex;
    font-family: $font-Comm;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $color-grey;
    background-color: #F5F5F5;
    border-radius: 150px;
    padding: 0 0 0 13px;
    align-items: center;
  }

  &__date::before {
    content: '';
    display: block;
    background-image: url(./images/calendar.png);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    padding-right: 9px;
  }

  &__count {
    display: inline-flex;
    font-family: $font-Comm;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $color-grey;
    background-color: #F5F5F5;
    border-radius: 150px;
    align-items: center;
    padding: 0 0 0 13px;
  }

  &__count::before {
      content: '';
      display: block;
      background-image: url(./images/check.png);
      background-size: 12px 12px;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      padding-right: 9px;
    }

  &__contact {
    margin: 19px 0 0 0;
  }

  &__contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__contact-list li {
    margin-right: 40px;
  }

  &__name, &__phone, &__email {
    font-family: $font-Comm;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $color-grey;
    padding: 0;
    margin: 5px 0 0 0;
    display: inline-flex;
    align-items: center;
    padding: 0 0 0 12px;
  }

  &__phone::before {
    content: '';
    display: block;
    background-image: url(./images/phone.png);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    padding-right: 9px;
  }

  &__email::before {
    content: '';
    display: block;
    background-image: url(./images/email.png);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    padding-right: 9px;
  }

  &__submit {
    margin: 18px 0 0 0;
    font-family: $font-Comm;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;

    width: 292px;
    height: 50px;
    background-color: #DA9B6E;
    border: 1px solid #DA9F73;
    border-radius: 5px;
  }
}


.span-list {
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  color: #A6A6A6;
  padding-left: 2px;
}

.section {
  max-width: 1147px;
  margin: 0 auto;
}

.description {
  margin-top: 46px;

  &__title {
    font-family: $font-Ark;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: $open-color;
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    font-family: $font-Comm;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: $open-color;
    padding: 0;
    margin: 10px 0 15px 0;
  }

  &__text {
    padding: 0;
    margin: 0px 0 0 0;
    font-family: $font-Comm;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $open-color;
  }

  &__blockquote {
    max-width: 1140px;
    margin: 15px auto;
    padding: 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px 35px 15px 18px;
    box-sizing: border-box;
  }

  &__author {
    padding: 0;
    margin: 15px 0 0 0;
    font-family: $font-Comm;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $open-color;
  }

  &__cheklist {
    list-style-type: none;
    padding: 0;
    margin: 22px 0 22px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: $font-Comm;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #676767;
    gap: 10px;
  }

  &__cheklist li{
    display: inline-flex;
    align-items: center;
  }

  &__cheklist li::before{
    content: '';
    display: block;
    background-image: url(./images/ckeck_quote.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    padding-right: 9px;
  }
}

.team {
  max-width: 1920px;
  margin: 99px 0 0 0;
  padding: 0 0 110px 0;
  background-color: $open-color;

  &__title {
    max-width: 1140px;
    font-family: $font-Ark;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    padding: 77px 0 0 0;
    margin: 0 auto;
    color: white;
  }

  &__container {
    max-width: 1140px;
    padding: 0;
    margin: 0 36px 0 36px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 262px);
    gap: 128px;
  }

  &__item {
    margin: 15px 0 0 0;
    position: relative;
    background-color: linear-gradient(180deg, rgba(22, 33, 64, 0) 26.56%, #162140 100%);
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  &__role {
    position: absolute;
    top: 10px;
    right: 8px;
    margin: 0;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    background-color: rgba(83, 151, 172, 0.5);
    border-radius: 150px;
    font-family: $font-Comm;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }

  &__caption {
    max-width: 283px;
    position: absolute;
    bottom: -20px;
    right: -98px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 12px 13px 13px 14px;
  }

  &__name {
    font-family: $font-Comm;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
  }

  &__text {
    padding: 0;
    margin: 0;
    font-family: $font-Comm;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #D5D5D5;
  }

  &__slider {
    display: flex;
    align-items: center;
  }
}

.button_type_next {
  width: 44px;
  height: 44px;
  background-color: #DA9B6E;
  border: 1px solid #DA9B6E;
  background-image: url(./images/button_next.png);
  background-size: 10px 14px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.button_type_back {
  width: 44px;
  height: 44px;
  background-color: inherit;
  border: 1px solid #DA9B6E;
  background-image: url(./images/button_next.png);
  background-size: 10px 14px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
